.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.main_content {
  width: 700px;
}

.hr {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.total {
  margin-top: 2rem;
  font-weight: 700;
}

.page_status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
